<h2>You've Been Invited</h2>
<p>You have been invited to create an account.</p>
<p>Click the link below to complete your registration:</p>
<p><a href="{{.Issuer}}/ui/register?invite={{.Token}}">Create your account</a></p>
<p>This invitation expires in 7 days.</p>
