<h2>Password Reset</h2>
<p>You requested a password reset.</p>
<p>Click the link below to set a new password:</p>
<p><a href="{{.Issuer}}/ui/reset-password?token={{.Token}}">Reset your password</a></p>
<p>This link expires in 1 hour.</p>
<p>If you didn't request this, you can safely ignore this email.</p>
